.app {
    $name-width: 250px;
    $ord-color: #ccc;

    $semis: blue;
    $repiquage: violet;
    $plantage: green;
    $semisdirect: red;
    $recolte: rgb(0, 204, 255);

    width: calc(100% - 20px);
    margin: 20px 0 20px 20px;
    overflow-x: hidden;

    .label {
        font-weight: bold;
        margin: 0 10px 0 0
    }

    .button {
        margin: 0;
        width: auto;
        overflow: visible;
        background: transparent;
        color: inherit;
        font: inherit;
        -webkit-font-smoothing: inherit;
        -moz-osx-font-smoothing: inherit;
        -webkit-appearance: none;

        font-size: 20px;
        height: 25px;
        line-height: 25px;
        border: 1px solid black;
        display: inline-block;
        vertical-align: top;
        padding: 0 5px;
        transition: all .2s;
        outline: none;
        cursor: pointer;

        &:hover {
            border-color: #ccc;
        }
    }

    .select {
        background: white;
        height: 25px;
        line-height: 25px;
        font-size: 16px;
        min-width: 200px;

        &:hover {
            border-color: #ccc;
        }
    }

    .header {
        padding: 0 0 20px;

        .container {
            margin: 0 0 20px
        }

        .button.order {
            margin: 0 0 0 10px;
            width: 25px;
            line-height: 20px;

            &.asc {
                transform: rotate(180deg)
            }
        }

        .period-choices {

            .period-choice {
                display: inline-block;
                margin: 0 20px 0 0;
                cursor: pointer;
                font-size: 18px;
                transition: all .2s;

                &.semis {
                    color: $semis;

                    &::before {
                        border-color: $semis;
                    }
                }

                &.repiquage {
                    color: $repiquage;

                    &::before {
                        border-color: $repiquage;
                    }
                }

                &.plantage {
                    color: $plantage;

                    &::before {
                        border-color: $plantage;
                    }
                }

                &.semisdirect {
                    color: $semisdirect;

                    &::before {
                        border-color: $semisdirect;
                    }
                }

                &.recolte {
                    color: $recolte;

                    &::before {
                        border-color: $recolte;
                    }
                }

                &::before {
                    transition: all .2s;
                    content: "\2713";
                    display: inline-block;
                    vertical-align: top;
                    width: 18px;
                    height: 18px;
                    line-height: 18px;
                    text-align: center;
                    font-size: 0;
                    border-radius: 2px;
                    margin: 0 2px 0 1px;
                    border: 1px solid black;
                    margin: 0 5px 0 0;
                }


                &.selected::before {
                    font-size: 18px;
                }

                &:hover {
                    color: black;

                    &::before {
                        border-color: black;
                    }
                }

            }
        }
    }

    .chart {
        position: relative;
        width: 100%;
        padding: 0 0 40px;

        .plants {
            position: relative;
            z-index: 1;

            .plant {
                height: 60px;
                width: 100%;
                border: 1px solid #f8f8f8;
                border-width: 1px 0;
                display: none;

                &.displayed {
                    display: block;
                }

                .name {
                    display: inline-block;
                    width: $name-width;
                    height: 60px;
                    line-height: 60px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                .periods {
                    display: inline-block;
                    position: relative;
                    width: calc(100% - #{$name-width});
                    height: 100%;

                    .period {
                        position: absolute;
                        height: 8px;
                        display: none;

                        &.displayed {
                            display: block
                        }

                        &.semis {
                            background: $semis;
                            top: 5px;
                        }

                        &.repiquage {
                            background: $repiquage;
                            top: 15px;
                        }

                        &.plantage {
                            background: $plantage;
                            top: 25px;
                        }

                        &.semisdirect {
                            background: $semisdirect;
                            top: 35px;
                        }

                        &.recolte {
                            background: $recolte;
                            top: 45px;
                        }
                    }

                }
            }
        }

        .ords {
            position: absolute;
            width: calc(100% - #{$name-width});
            height: 100%;
            right: 0;
            bottom: 0;
            white-space: nowrap;

            .month {
                position: relative;
                height: 100%;
                display: inline-block;
                vertical-align: bottom;

                .line {
                    position: absolute;
                    width: 50%;
                    height: calc(100% - 25px);
                    border-right: 1px solid $ord-color;
                    bottom: 25px;
                }

                .name {
                    position: absolute;
                    z-index: 2;
                    bottom: 0;
                    width: 100%;
                    height: 20px;
                    text-align: center;
                    background: white;
                    color: $ord-color;
                    font-size: 15px;

                    &.top {
                        bottom: auto;
                        top: -15px;
                        height: 25px;
                    }
                }

            }
        }
    }
}